<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <form action="{{ url_for('receive_data') }}" method="post">
        <label for="name">Name</label>
        <input type="text" placeholder="name" name="username">

        <label for="password">Password</label>
        <input type="text" placeholder="password" name="password">

        <button type="submit">Ok</button>
    </form>
</body>

</html>
